form{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
}

label{
    margin-left: 15px;
}

input{
    width: 50%;
    height: 30px;
    margin: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.72);
    border: none;
}

.buttonSubmit{
    margin-top: 20px;
    margin-left: 10px;
    width: 40%;
    height: 40px;
    font-weight: bold;
}

.errorLabel{
    color: red;
    margin-bottom: 15px;
}

